<div class="parent" itemscope itemtype="http://schema.org/Recipe">

	<div class="images">
		<h2>{{ $ctrl.recipe.title }}</h2>

		<img ng-src="img/home/{{$ctrl.mainImageUrl}}" class="recipe-detail-image" />

		<ul class="recipe-thumbs">
			<li ng-repeat="img in $ctrl.recipe.images">
				<img ng-src="img/home/{{img}}" ng-click="$ctrl.setImage(img)" />
			</li>
		</ul>
	</div>

	<div class="text">
		<p>{{ $ctrl.recipe.description }}</p>

		<h3>Ingredients</h3>
		<ul class="ingredients">
			<li ng-repeat="ingredient in $ctrl.recipe.ingredients">
				{{ ingredient }}
			</li>
		</ul>

		<p>
		<h1>Directions:</h1>
			{{ $ctrl.recipe.directions}}
		</p>
	</div>

</div>